@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;500&family=Open+Sans:ital@1&family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');
*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    background-image:url(../image/green-product-background.jpg);
    background-size: cover;
    background-position: center;
    opacity: 100;

}
.header a{
    color: black;
    font-weight: 900;
}
.btn {
    background-color: beige;
    width: 150px;
    border: none;
}
.icon i{
    margin-right:10px;
    font-size: 20px;
}
.social i{
    margin-right:20px;
    font-size: 25px;
}
.social i:hover{
    color: #BAB9B8;
}
.social{
    margin-top: 35px;
    text-align: center;
}
.social .fa-facebook , .fa-phone{
    color: #4267B2;
    font-size: 35px;
}
.social .fa-twitter , .fa-twitter{
    color: #3997bd;
    font-size: 35px;
}
.social .fa-youtube , .fa-map-location-dot{
    color: #FF0000;
    font-size: 35px;
}
.social .fa-instagram{
    color: #fbad50;
    font-size: 35px;
}
.social .fa-skype{
    color: #00aff0;
    font-size: 35px;
}
.social .fa-github{
    color: #171515;
    font-size: 35px;
}
.picture img{
    border-radius: 50%;
    border: 4px solid gray;
    margin-bottom: 25px;
   
}
.picture1 img{
    margin-top: 20px;
    padding-right: 50px;
    margin-left: 300px;
} 
.background1{
    background-color: #d1e7dd;
    transform: scale(1);
    transition: 0.3s ease-in;
    cursor: pointer;
}
.background1:hover
{
    transform: scale(1.1);
}
.background2{
    background-color: #a3cfbb;
    transform: scale(1);
    transition: 0.3s ease-in;
    cursor: pointer;
}
.background2:hover
{
    transform: scale(1.1);
}
.background3{
    background-color: #75b798;
    transform: scale(1);
    transition: 0.3s ease-in;
    cursor: pointer;
}
.background3:hover
{
    transform: scale(1.1);
}
.picture3 img{
    margin-top: 50px;
    padding-right: 50px;
    margin-left: 300px;
}

